@model Biluthyrning.Models.User

@{
    ViewData["Title"] = "AdminView";
}

<div class="text-center">
    <h1 class="display-4 text-black">👀Välkommen Admin👀</h1>
 
<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">👉 Användare 👈</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">👉 Bilar 👈</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="OurCars">👉 Våra Bilar 👈</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">👉 Bokningar 👈</a>

</div>


