@{
    ViewData["Title"] = "Om Nima";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ända sedan Nima var en liten grabb har han drömt om att ha riktigt heta bilar. Med hjälp av en aldrig sviktande tro på sig själv och förslavning av sina klasskompisar, kan vi nu stolt presentera Nimas konglomerat.

    Behöver du hyra en bil? Hyr en het hos Nimas heta bilar.

    [Bild på Nima framför en bil]
</p>
