@model Biluthyrning.Models.Car

@{
    ViewData["Title"] = "BookingCarFirstView";

}

<h1>Bilval</h1>

<h6>Vilka kriterier ska bilen ha?</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookingCarFirstView">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label hidden="hidden" asp-for="CarId" class="control-label"></label>
                <select class="form-select" asp-for="CarId" class="form-control" asp-items="ViewBag.Brand">
                    <option value="none" selected disabled hidden>---Välj märke---</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden="hidden" asp-for="CarId" class="control-label"></label>
                <select class="form-select" asp-for="CarId" class="form-control" asp-items="ViewBag.Color">
                    <option value="none" selected disabled hidden>---Välj färg---</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden="hidden" asp-for="CarId" class="control-label"></label>
                <select class="form-select" asp-for="CarId" class="form-control" asp-items="ViewBag.CarGear">
                    <option value="none" selected disabled hidden>---Välj växeltyp---</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden="hidden" asp-for="CarId" class="control-label"></label>
                <select class="form-select" asp-for="CarId" class="form-control" asp-items="ViewBag.Fuel">
                    <option value="none" selected disabled hidden>---Välj drivmedel---</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden="hidden" asp-for="CarId" class="control-label"></label>
                <select class="form-select" asp-for="CarId" class="form-control" asp-items="ViewBag.CarSize">
                    <option value="none" selected disabled hidden>---Välj storlek---</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>


            <br />
            <div class="form-group">
                <a class="btn btn-primary" asp-area="" asp-controller="Bookings" asp-action="Booking">Gå vidare</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



