@model Biluthyrning.ViewModels.SearchCarViewModel
@{
    ViewData["Title"] = "SearchOrSeeAllCarsView";
}


<div class="text-center">
    <h1 class="display-4 text-black">👀 Sök bilar 👀</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="AvailableCars">👉 Se alla tillgänliga bilar 👈</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="BookingCarFirstView">👉 Avancerad sök 👈</a>
</div>
